.App {
  text-align: center;
}


 .button {
      background-color: black;
      color: white;
      border-radius: 5px;
    }


@media screen and (max-width: 680px) {
    body {
        background-color: lightgray;
    }

    .logo {
      width: 50%;
      padding-top: 10px;
    }

    .button {
      background-color: black;
      color: white;
      border-radius: 5px;
    }

    .cityImage {
      width: 100%;
      height:100%;
    }

    .enter{
      border: 1px solid;
    }
}

@media screen and (max-width: 860px) {
    body {
        background-color: lightgray;
    }

    .logo {
      width: 50%;
      padding-top: 10px;
    }

    .button {
      background-color: black;
      color: white;
      border-radius: 5px;
    }

    .cityImage {
      width: 100%;
      height:100%;
    }

    .enter{
      border: 1px solid;
    }
}
