body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Playfair Display', serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  display: flex;
  align-content: center;
  background-image: url('https://images.unsplash.com/photo-1517511620798-cec17d428bc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a65984a12051e9753f748c5909faca97&auto=format&fit=crop&w=1050&q=80');
  background-color: #e65100 ;
  color: white;
  height: 50%;
}

header {
  background-image: url('https://images.unsplash.com/photo-1517511620798-cec17d428bc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a65984a12051e9753f748c5909faca97&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-position: cover;
  padding: 30px;
  background-position: center center;
  position: relative;
  background-size: cover;
  background-color: #a3a8b0;
}

ul {
  list-style: none;
}

.cityImage {
  background-position: cover;
  width: 100%;
  height: 100%;
  height: 300px;
}

.score-summary {
  display: inline-flex;
  height: 10px;

}

.form {
  margin-bottom: 20px;

}

.qolType {
  padding-right: 10px;
}
